:root{
    --primary-color: #6C5145;    /* umber*/
    --secondary-color: #6C7D9C;  /* glaucous */
    --accent1-color: #423931;    /* taupe */
    --accent2-color: #DBDCE0;    /* platinum */ 
    --heading-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;
    --font-size: 16px;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,p,section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}

.hero { 
    position: relative;
}
.hero img {
   display:block;
    width: 100px;
  height: auto; }

h1 {
    position:absolute;
    top: 20px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; }


article {
    position: absolute;
    
    

}
.hero article img {
    float : right;
    width : 125px;
}


